{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": [
      "error",
      "always"
    ],
    "class-methods-use-this": 0,
    "comma-dangle": ["error", "never"],
    "constructor-super": "warn",
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      0,
      {"tabWidth": 2},
      {"ignoreComments": true}
    ],
    "newline-per-chained-call": 0,
    "no-confusing-arrow": 0,
    "no-console": 1,
    "no-const-assign": "error",
    "no-param-reassign": ["warn", { "props": true }],
    "no-this-before-super": "warn",
    "no-unreachable": "warn",
    "no-unused-expressions": ["error", {
      "allowShortCircuit": false,
      "allowTernary": false,
      "allowTaggedTemplates": true
    }],
    "no-use-before-define": 0,
    "object-curly-spacing": ["error", "never"],
    "prefer-template": 2,
    "quote-props": 0,
    "semi": ["error", "never"],
    "valid-typeof": "error",
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 2,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/role-supports-aria-props": 2,
  }
}
